@import "_nullstyle";

%style_form {
        margin-top: 10px;
        width: 380px;
        height: 35px;
        border: 1px solid;
        border-radius: 2px;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 500;
        position: relative;

        &:hover{
            border: 2px solid #98d7a0;
        }
}
.modal-window {
    margin: 100px auto;
    width: 435px;
    height: 420px;
    border: 1px solid;
    border-radius: 7px;
    
    
    // .modal-window__content

    &__content {
        margin:30px auto;
        width: 380px;
        height: 400px;
        font-family: 'Montserrat', sans-serif;   
    }

    // .modal-window__title

    &__title {
       font-weight: bold;
       font-size: 20px;
       margin-bottom: 40px;
       position: relative;

       &::after{
        content: '';
        background-image: url('../img/close_icon.png');
        width: 20px;
        height: 20px;
        position: absolute;
        left: 368px;
        top: -12px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
       }
    }

   
    &__form-select {
        @extend %style_form;
        display: flex;
    }

  
    &__form-input{
        @extend %style_form;
        padding-left: 10px;
        &_select {
            width: 360px; 
            border: none;
            padding-left: 8px;
         }
    }

    span{
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        
    }
    
   
 

    // .modal-window__forms-button

    &__form-buttons {
       display: flex;
       justify-content: end;
       margin-top: 44px;
       text-align: center;
    }

    &__form-cancel{
        margin-right: 5px;
        background-color: #fff;
        padding: 7px 13px;
        border: 1.5px solid;
        border-radius: 3px;
        font-size: 12px;

    }
    &__form-create{
        background-color: black;
        color: #fff;
        padding: 7px 13px;
        border: 1.5px solid black;
        border-radius: 3px;
        font-size: 12px;
        
    }
}
